site_name: MAMSI v1.0.2

theme:
  name: material
  palette:
    scheme: mamsi
extra_css:
  - stylesheets/extra.css

docs_dir: 'docs'
site_dir: 'site'

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_code_format


plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            show_source: false
          options:
            docstring_style: google
            docstring_options:
              ignore_init_summary: no
            merge_init_into_class: no
            show_submodules: yes

nav:
  - MAMSI: index.md
  - Tutorials: tutorials.md 
  - API References: 
    - ./api_references/MamsiPls.md
    - ./api_references/MamsiStructSearch.md
  