site_name: MAMSI Docs

theme:
  name: "material"
  palette:
    primary: deep purple
    accent: deep purple

docs_dir: 'docs'
site_dir: 'site'

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_code_format


extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js


plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            show_source: false
          options:
            docstring_style: google
            docstring_options:
              ignore_init_summary: no
            merge_init_into_class: no
            show_submodules: yes

nav:
  - Home: index.md
  - Tutorials: tutorials.md 
  - Reference:
    - ./references/MamsiPls.md
    - ./references/MamsiStructSearch.md
  